@import "_intro.scss";
@import "_video.scss";
@import "_footer.scss";
@import "_prices.scss";
@import "_motto.scss";
@import "_ideal.scss";
@import "_gallery.scss";
@import "_contacts.scss";
@import "_welcome.scss";
@import "_about.scss";







/* Begin .links */
.links {
	background-color: $red;
}
.links-title {
	color: $white;
	text-align: center;
	margin-bottom: 2em;
}
.links-title strong {
	display: block;
	font-size: 90px
}
@media only screen 
and (max-width: 568px) {
	.links-title {
		font-size: 60px;
		font-size: 6rem;
	}
}
.links-p {
	color: $white;
	font-family: "rooney-sans", "Trebuchet MS", sans-serif;
	font-size: 22px;
	font-size: 2.2rem;
	margin-bottom: .5rem;
//	font-weight: 800;

}

.club + .club {
	margin-bottom: 30px
}

.club {
	text-align: center;
}

.club-link {
	color: $white;
	text-decoration: none;
	display: block;
}

.club-link:hover:after {
	background: $white;
	color: $black;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}
.club-strong {
	display: block;
	font-size: 17px;
	font-size: 1.7rem;
	color: $black
}
.club-link:hover .zadar {
	text-decoration: none;
}
.club-link:hover .sesvete {
	text-decoration: none;
}
.club-link:hover .ljubljana {
	text-decoration: none;
}
.contact-link {
	//display: block;
}
.contact-link:hover {
	color: $white;
	border-bottom: 1px solid $white;
}
/* End .links */


