.welcome {
	background: $red;
}
.why-title {
	color: $white;
	margin-top: 60px;
}
.why-aikido {
	background: $red;
	color: $white;
}
.unordered-list-item {
	list-style: none;
	padding: .6rem 0 .6rem 1rem;
	padding: 6px 0 6px 10px;
	position: relative;
	border-bottom: 2px solid $red-dark;
}
.unordered-list-item:before {
	color: $white;
	content: "-";
	left: 0;
	position: absolute;
}
