.about-us {
	background: $black;
	color: $white;
	padding: 10px 0;
}
.about-us-inner {
	border-top: 2px dashed $dark-gray;
	border-bottom: 2px dashed $dark-gray;
}
.wara-pic {
	display: block;
	margin: 20px auto 0 auto;
	width: 90%;
	max-width: 200px;
}
.wara-text {
	color: $gray;
	text-align: center;
}
.about-us-title {
	color: $red;
	text-align: center;
}
	@media only screen and (min-width: 600px) {
		.about-us-title {
			text-align: left;
		}
	}
.about-us-title strong {
	display: block;
}
.about-us-link {
	color: $red;
}
.about-us-link:hover {
	color: $white;
	text-decoration: none;
	border-bottom: 1px solid $white;
}